
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: rgb(106, 23, 23);
    padding-top: 40px;
    padding-bottom: 20px;
    text-decoration: underline;
    text-align: center;
    
}


body{
    background-color: rgb(180, 118, 93);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
     color: rgb(106, 23, 23);
     font-size: 30px;
}

#gallery {
  margin: 0 auto; /* center gallery */
  width: 1200px; /* set width */
  
  /* Three column grid with 1em gap */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

figure {
  position: relative; /* allows elements to be abolutely positioned in element */
  display: block; /* make figure a block */
  text-align: center; /* center content */
  transition: all 1s; /* hover transition */
}

/* make the image fit inside the figure block */
figure img {
  width: 100%;
  
}

/* on hover, transform the contents of figure to be 1.1 times larger */

figure:hover {
  transform: scale(1.1);
}

figure .hoverimg {
  position: absolute; /* allows image to be placed on top of other image */
  top: 0;
  left: 0;
  opacity: 0; /* hide hover image */
  transition: all 1s;
}

figure:hover .hoverimg {
  opacity: 1; /* reveal hover image */
  overflow: hidden;
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
     color: rgb(106, 23, 23);
    text-align: center;
}